# Documentation and Help files
HELP.md

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Spring Boot #
profiler/
/*.hprof

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextBackup
pom.xml.versionsBackup
pom.xml.vm
mvnEclipse.dump
.mvn/**
!/.mvn/wrapper/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables and secrets
.env
application-local.properties
application-local.yml
